{% extends 'layout.html' %}
{% load static %}
{% block conteudo %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Requisições dos usuários</h1>              
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Transporte escolar
                    </div>
                        <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Identificação</th>
                                            <th>Instituição de ensino</th>
                                            <th>Cidade</th>
                                            <th>Turno</th>
                                            <th>Residência</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if transporte_escolar_list %}
                                        
                                        {% for transporte in transporte_escolar_list %}
                                        <tr>
                                            <td>Usuário</td>
                                            <td>{{ transporte.id }}</td>
                                            <td>{{ transporte.escola }}</td>
                                            <td>{{ transporte.destino }}</td>
                                            <td>{{ transporte.turno }}</td>
                                            <td>{{ transporte.endereco }}</td>
                                            <td>{{ transporte.status }} <a href="{% url 'editarstatus' id=transporte.id %}"><img class="m-2" src="{% static 'img/update.png'%}" width="20"></a></td>
                                            <td><a href="{% url 'remover' id=transporte.id %}"><img class="m-2" src="{% static 'img/delete.png'%}" width="20"></a></td>
                                        </tr>
                                            {% endfor %}
                    
                                            {% else %}
                                                <p>No polls are available.</p>
                                            {% endif %}
                                        </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Identificação</th>
                                            <th>Instituição de ensino</th>
                                            <th>Cidade</th>
                                            <th>Turno</th>
                                            <th>Residência</th>
                                            <th>Status</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </main>
        </div>

        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Usuarios
        </div>
            <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Email</th>
                                <th>Casa</th>
                                <th>Rua</th>
                                <th>Bairro</th>
                                <th>Complemento</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if usuario_list %}
                            
                            {% for usuario in usuario_list %}
                            <tr>
                                <td>{{user.username}}</td>
                                <td>{{usuario.cpf}}</td>
                                <td>{{user.email}}</td>
                                <td>{{usuario.numero_casa}}</td>
                                <td>{{usuario.rua}}</td>
                                <td>{{usuario.bairro}}</td>
                                <td>{{usuario.complemento}}</td>
                            </tr>
                                {% endfor %}
        
                                {% else %}
                                    <p>No polls are available.</p>
                                {% endif %}
                            </tbody>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Email</th>
                                <th>Casa</th>
                                <th>Rua</th>
                                <th>Bairro</th>
                                <th>Complemento</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock conteudo %}
