{% extends 'layout.html' %}
{% load static %}
{% block conteudo %}
<div class="container mt-5">
    <div class="container p-5 my-5 border">
        <h2>Bem vindo {{user.username}}</h2>  
    </div>

        <h2 class="mb-2">Seus dados</h2>

        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Seus dados
      </div>
          <table id="datatablesSimple">
                      <thead>
                          <tr>
                              <th>Nome</th>
                              <th>Email</th>
                              <th>Editar dados</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td><a href="{% url 'editarDados' id=user.id %}"><img class="m-2" src="{% static 'img/update.png'%}" width="20"></a></td>
                        </tr>
                  </tbody>
          </table>

        <!--div class="card-header mt-5">
            <i class="bi bi-house-fill me-1"></i>
            Endereço
        </div>
            <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>N° Casa</th>
                                <th>Rua</th>
                                <th>Bairro</th>
                                <th>Complemento</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if usuario_list %}
                            
                            {% for usuario in usuario_list %}

                            {% if user.username == usuario.nome %}
                            <tr>
                                <td>{{usuario.numero_casa}}</td>
                                <td>{{usuario.rua}}</td>
                                <td>{{usuario.bairro}}</td>
                                <td>{{usuario.complemento}}</td>
                                <td><a href="{% url 'editarDados' id=user.id %}"><img class="m-2" src="{% static 'img/update.png'%}" width="20"></a></td>
                            </tr>
                                {% endif %}

                                {% endfor %}
        
                                {% else %}
                                    <p>No polls are available.</p>
                                {% endif %}
                            </tbody>
                        <tfoot>
                            <tr>
                                <th>N° Casa</th>
                                <th>Rua</th>
                                <th>Bairro</th>
                                <th>Complemento</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div-->

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h2 class="mt-4">Suas requisições</h2>              
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Transporte escolar
                    </div>
                        <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Instituição</th>
                                            <th>Cidade</th>
                                            <th>Turno</th>
                                            <th>Reside em</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if transporte_escolar_list %}

                                            {% for transporte in transporte_escolar_list %}

                                            {% if user.username == transporte.nome %}
                                                <tr>
                                                    <td>{{ transporte.escola }}</td>
                                                    <td>{{ transporte.destino }}</td>
                                                    <td>{{ transporte.turno }}</td>
                                                    <td>{{ transporte.endereco }}</td>
                                                    <td>{{ transporte.status }}</td>
                                                    <td><a href="{% url 'remover' id=transporte.id %}"><img class="m-2" src="{% static 'img/delete.png'%}" width="20"></a></td>
                                                </tr>
                                                {% else %}
                                        
                                            {% endif %}

                                            {% endfor %}
                                
                                            {% else %}
                                                <p class="m-2 text-dark opacity-50">Não há solicitações cadastradas.</p>
                                            {% endif %}
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </main>
        </div>


        <div class="container p-5 my-5 border">
            <h1>Serviços disponíveis</h1>  
        </div>
          <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card bg-light">
                        <!-- Product image-->
                        <img class="card-img-top" src="{% static 'img/onibus.png'%}" />
                        <!-- Product details-->
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="fw-bolder text-center">Transporte escolar</h5>
                                Sec. Educação
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-primary mt-auto" href="{% url 'solicita_transporte' %}">Solicitar</a></div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
</div>
{% endblock %}
