{% extends 'layout.html' %}
{% load static %}
{% block conteudo %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4 p-5">
        <form action="" method="POST">            
            {% csrf_token %}              
            <div class="row">
              <div class="col-md-6">
                <img src="{% static 'img/login.png'%}" class="img-fluid"/>
              </div>
              <div class="col-sm-6">
                <h2>Editar dados </h2>
                <!---div>
                  <label class="form" for="nome">Nome</label>
                  <input id="nome" class="form-control" name="nome" type="text" placeholder="Informe seu nome" value="{{c.nome}}" required>
                  <div class="valid-feedback">Valido</div>
                  <div class="invalid-feedback">Preencha o campo</div> <br>
                </div-->
                <div>
                  <label for="cpf">CPF</label>
                  <input name="cpf" type="cpf" id="cpf" class="form-control" placeholder="Informe seu CPF" onkeypress="$(this).mask('000.000.000-00')" value="{{c.cpf}}"  required/>
                </div>
                <!--div>
                  <label for="email">Email</label>
                  <input type="text" id="email" class="form-control" name="email" placeholder="Entre com o email cadastrado" required name="email" value="{{c.email}}" >
                  <div class="valid-feedback">Valido</div>
                  <div class="invalid-feedback">Preencha o campo</div> <br>
                </div-->
                <p class="mt-2">
                    <label for="numero_casa">Número da casa</label>
                    <input id="numero_casa" type="text" class="form-control" placeholder="Informe o número da sua residência" name="numero_casa" value="{{c.numero_casa}}"></p>
                <p class="mt-2">
                    <label for="rua">Rua</label>
                    <input id="rua" type="text" class="form-control" placeholder="Informe a rua da sua residência" name="rua" value="{{c.rua}}"></p>
                <p class="mt-2">
                    <label for="bairro">Bairro</label>
                    <input id="bairro" type="text" class="form-control" placeholder="Informe o bairro da sua residência" name="bairro" value="{{c.bairro}}"></p>
                <p class="mt-2">
                    <label for="complemento">Complemento</label>
                    <input id="complemento" type="text" class="form-control" placeholder="Informe um complemento, Ex: Casa, Condomínio, Zona Rural..." name="complemento" value="{{c.complemento}}"></p>
                <div class="text-center">
                    <button class="btn btn-primary btn-xl text-uppercase mt-4" type="submit">Confirmar</button>                                
                    <a class="m-5 text-right" href="{% url 'dashboard'%}">Voltar</a>
                </div>
          </div>  
        </form>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
{% endblock conteudo %}