{% extends 'layout.html' %}
{% load static %}
{% block conteudo %}
<div class="text-center container-fluid mt-5 transparente">
  <div class="row transparente">
    <div class="col-sm-12 transparente">
              <h1>Login</h1>
              <div class="m-5 transparente">
                <form action="{% url 'login' %}" class="login was-validated" method='POST'>
                  {% csrf_token %}      
                  <div class="transparente">
                    <label for="email"><b>Email</b></label>
                    <input type="text" id="email" class="form-control" name="email" placeholder="Entre com o email cadastrado">
                    <div class="valid-feedback transparente">Valido</div>
                    <div class="invalid-feedback transparente">Preencha o campo</div> <br>
                  </div>
                  <div class="mb-3 transparente">
                    <label for="senha"><b>Senha</b></label>
                    <input id="senha" type="password" class="form-control" name="senha" placeholder="Digite aqui sua senha">  
                    <div class="valid-feedback transparente">Valido</div>
                    <div class="invalid-feedback transparente">Preencha o campo</div>
                  </div>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" onclick="exibirCriarConta()">Não tenho cadastro</a>
                    </li>
                  </ul>                  
                  <div class="transparente ">
                    <button class="btn btn-primary btn-xl text-uppercase" type="submit">Confirmar</button>   
                  </div>
                  </form>
                </div>
              </div>            
            </div>
              </div>
            </div>
          </div>
        </div>

<script>
function exibirCriarConta()
{
   location.href = "{% url 'cadastro' %}";
} 
</script>
{% endblock %}