{% extends 'layout.html' %}
{% load static %}
{% block conteudo %}
<div class="container mt-5">
<div class="text-center container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'img/login.png'%}" class="img-fluid"/>
    </div>
    <div class="col-md-6 contents">
          <form id="regForm" action="" method="POST">
            {% csrf_token %}   
              <h1 id="register">Login</h1>  
                  <div class="transparente mt-2">
                    <label for="email"><b>Email</b></label>
                    <input type="text" id="email" name="email" placeholder="Entre com o email cadastrado">
                    <div class="valid-feedback transparente">Valido</div>
                    <div class="invalid-feedback transparente">Preencha o campo</div> <br>
                  </div>
                  <div class="mb-3 transparente">
                    <label for="senha"><b>Senha</b></label>
                    <input id="senha" type="password" name="senha" placeholder="Digite aqui sua senha">  
                    <div class="valid-feedback transparente">Valido</div>
                    <div class="invalid-feedback transparente">Preencha o campo</div>
                  </div>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" onclick="exibirCriarConta()">Não tenho cadastro</a>
                    </li>
                  </ul>                  
                  <div class="transparente ">
                    <button class="btn btn-primary btn-xl text-uppercase" type="submit">Confirmar</button>   
                  </div>
                  </form>
                </div>
              </div>            
            </div>
              </div>
            </div>
          </div>
        </div>

<script>
function exibirCriarConta()
{
   location.href = "{% url 'cadastro' %}";
} 
</script>
{% endblock %}