{% extends 'layout.html' %}
{% load static %}
{% block conteudo %}
<div class="m-4 p-4"></div>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card bg-light">
                            <!-- Product image-->
                            <img class="card-img-top" src="{% static 'img/onibus.png'%}" />
                            <!-- Product details-->
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 class="fw-bolder text-center">Transporte escolar</h5>
                                    Sec. Educação
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-primary mt-auto" href="{% url 'solicita_transporte' %}">Acesse</a></div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
        {% endblock conteudo %}
